span{
    color: darkmagenta;
}
body{
    font-family: 'Anton', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Luxurious Roman', cursive;
font-family: 'Merriweather', serif;
font-family: 'Poppins', sans-serif;
margin: ;
}
h1{
    font-size: 50px;
}
section{
    display: flex;
}
.pic-text{
    width: 50%;
    padding-left: 5%;
  
}
.pic-text img{
    width: 60%;
}
.explore-button{
    text-decoration: none;
    background-color: rgb(173, 173, 4);
    padding: 5px 20px;
    border-radius: 5px;
    color: whitesmoke;
    font-weight: 500;
}
.focoused{
    background-image: url(images/shapes/shape-7.png);
    background-repeat: no-repeat;
    padding-bottom: 5%;
}

h3{
    color:silver;
}
#moddom{
    text-align: center;
}

.mission-vission img{
    width: 20%;
    display: flex;
    padding-left: 10%;
    text-align: center;
}
.bcd{
    background-color: burlywood;
    border: gray solid;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 5%;
    box-shadow:grey 10px 10px 10px ;
}
.dvd{
    background-color: lightblue;
    border:grey solid;
    border-radius: 10px;
    box-shadow:gray 10px 10px 10px;
    padding-left: 10%;
    padding-right: 5%;
}
.xyz{
    background-color: lightseagreen;
    border: gray solid;
    border-radius: 10px;
    padding-left: 10%;
    padding-right: 5%;
    box-shadow:grey 10px 10px 10px ;
}
#second-part{
    display: flex;
    padding-right: 10%;
    
    padding-left: 10%;
    
    
}
#second-part img{
    width: 50%;
    margin: 10px;
    padding: 5px;

}
#border{
    border-left: rgb(139, 6, 46) solid 5px;
    border-radius: 2px;
}
.mission-vission{
    padding-top: 10px;
    padding-bottom: 10%;
}
.dis-flex img{
    width: 80%;
    padding-left: 40%;
    

}
.dis-flex{
    display: flex;

}
.lorem{
    padding-right: 20%;
    padding-left: 10%;
}
.develop{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    padding-bottom: 10%;   
}
.global img{
    width: 60%;
}
.global{
    padding-top: 10%;

}
.know{
    padding-left: 10%;
}
.global{
    background-image: url(images/shapes/shape-6.png);
    background-repeat: no-repeat;
    
    background-position: bottom;
    padding-bottom: 10%;
}
.global img{
    box-shadow: darkgray 10px 10px 10px 10px ;
}
.last-img img{
    width: 50%;
    padding-left: 0%;
   
    box-shadow: gray 10px 10px 10px 10px;
    
    
    
}
.web{
    padding-right: 25%;

}
.smart{
    background-image: url(images/shapes/shape-4.png);
    
    background-position: right;
    border-radius: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
}
#footerr{
    text-align: center;
    color: white;
    background-color: black;
}
#footer{
    text-align: center;
    color: darkgray;
    background-color: black;
}
.foooter{
    background-color:black;
}
